<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.apache.mycat.advisor.persistence.dao.ProductTypeMapper">

    <select id="selectByNameAndCode" resultType="map">
            <![CDATA[
                SELECT
                     *
                FROM
                   product_type t
                WHERE
                    t.type_name LIKE #{name}
            ]]>
    </select>

</mapper>