<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.apache.mycat.advisor.persistence.dao.TabCompanyMapper">

        <select id="findIdAndNameByName" resultType="map">
                <![CDATA[
                SELECT id,name FROM tab_company where name like #{name}
                ]]>
        </select>

</mapper>