@charset "utf-8";
/* CSS Document */
.wrap{min-width:320px; width:100%; text-align:center;}
.wrap .top{height:150px; padding-top:0px; background:#00CCFF;}
.wrap .top p{font-size:24px; color:#fff; padding:10px 0;}
.wrap .top span input{width:130px; height:34px; line-height:34px; border-radius:22px; background:#fff; color:#fe6407; font-size:20px; margin-top:10px; cursor:pointer;}
.center{padding:2%; margin:10px 0;}
.center ul{overflow:hidden; background:#fff;}
.center ul li{list-style:none;height:54px; line-height:54px; font-size:16px; margin-bottom:1px; background:#fff url(../images/user/arrow.png) no-repeat 95% center; padding-left:20px; border-bottom:1px solid #e6e6e6;}
.center ul li span{width:20px; height:20px; text-align:center; float:left; margin-top:4px; margin-right:10px;}
.center ul li a{float:left; color:#51545A; width:80%; text-align:left;}
/*.center ul li:active{background: #F1F1F5;}*/
/*.center ul li:link{background: none;}*/
.center ul li.noBorder{border-bottom:none;}
.bottom{padding:0 2%;}
.bottom input{background:#fe6407; width:100%; height:40px; font-size:20px; color:#fff;border:none;outline:medium;}