@charset "utf-8";
/* CSS Document */
/*重置浏览器默认样式*/
html,body{padding:0; margin:0; color:#333; font-size:12px; font-family:"微软雅黑";}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,a{padding:0; margin:0; border:none;}
table{width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
img{border:0;}
em,strong,th{font-style:normal; font-weight:400;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:400;}
/*input,textarea,select{font-family:"微软雅黑"; font-size:100%; list-style:none; }*/
a:link,a:visited{text-decoration:none; outline: none;} 
a:active,a:hover{text-decoration:none;}
/* 取消a标签点击后的虚线框 */ 
a:active{star:expression(this.onFocus=this.blur());}
/*公共样式*/
.fl{float:left;}
.fr{float:right;}
/*清浮动、父级元素加*/
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
body{min-width:320px; max-width:640px; background:#f1f1f5; margin:0 auto;}
.qdl_header{background-color:#fe6407;}
a,img,button,input,textarea,select{-webkit-tap-highlight-color:rgba(255,255,255,0);outline:none;-webkit-appearance:none;}

