<div class="modal-header">
    <h4 class="modal-title">{{if resourceId == null }}新增{{else}}修改{{/if}}</h4>
</div>
<form class="form-horizontal form-validate" id="doorSaveForm" method="post" action="auth/res/save">
    <input name="resourceId" type="hidden" value="{{resourceId}}">

    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">-->
    <div class="modal-body">
        <div class="form-group">
            <label for="resourceName" class="col-sm-4 control-label">资源名称</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="resourceName" name="resourceName"
                           placeholder="资源名称" value="{{resourceName}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="resourcePath" class="col-sm-4 control-label">资源路径</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="resourcePath" name="resourcePath"
                           placeholder="资源路径" value="{{resourcePath}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="resourceType" class="col-sm-4 control-label">资源类型</label>

            <div class="col-sm-5">
                <div class="fg-line">

                    <select class="select-picker" id="resourceType" name="resourceType" data-value="{{resourceType}}">
                        <option>css</option>
                        <option>json</option>
                        <option>img</option>
                    </select>
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="resourceDesc" class="col-sm-4 control-label">资源描述</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm validate[required,maxSize[16]]" id="resourceDesc" name="resourceDesc"
                           placeholder="资源描述" value="{{resourceDesc}}">
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="priority" class="col-sm-4 control-label">优先级</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <select class="select-picker" id="priority" name="priority" data-value="{{priority}}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="enable" class="col-sm-4 control-label">是否可用</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="radio" id="enable" name="enable" value="1"  {{if enable===1}} checked{{/if}}/> 可用
                    <input type="radio" name="enable" value="0" {{if enable===0}} checked{{/if}}/> 不可用
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="issys" class="col-sm-4 control-label">是否系统权限</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <input type="radio" id="issys" name="issys" value="1"  {{if issys===1}} checked{{/if}}/> 是
                    <input type="radio" name="issys" value="0" {{if issys===0}} checked{{/if}}/> 否
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
        <div class="form-group">
            <label for="moduleId" class="col-sm-4 control-label">模块</label>

            <div class="col-sm-5">
                <div class="fg-line">
                    <select name="moduleId" id="moduleId" class="select-picker" data-value="{{moduleId}}">
                        {{each modules}}
                        <option value="{{$value.moduleId}}">{{$value.moduleName}}</option>
                        {{/each}}
                    </select>
                </div>
                <small class="help-block">&nbsp;</small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-save">{{lang.btn.save}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.btn.close}}</button>
    </div>
</form>
